* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

#navbar {
  background-color: #BE3144;
  height: 100px;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
}

#navbar ul li a {
    font-size: 40px;
    padding: 20px;
    color : white;
    text-decoration: none;
}

#navbar ul {
  display: flex;
  list-style: none;
  float: right;
  font-weight: 700;
  padding: 20px;
}

#welcome-section {
  background-color: #202022;
  height: 97vh;
  
}

#welcome-section h1 {
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 6rem;
  font-weight: 700
    
}

#welcome-section p {
  color: #BE3144;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
}

img {
      width: 467px;
      height: 434px;
      }
}

.project-tile {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 57px;
  justify-content: center;
}
#projects {
  background-color: #45567D;
  height: ;
}

#projects h2 {
    margin: 0 auto 4rem auto;
    border-bottom: 0.2rem solid white;
    font-size: 3.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    max-width: 770px;
    padding-top: 60px;
  }

.images-box p {
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
  
  text-align: center;
  cursor: pointer;
}

.show {
  font-size: 2rem;
  
  text-align: center;
  font-weight: 400;
  padding: 2em 0.5rem;

}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.show a{
  background-color: #303841;
}

.contact {
  background-color: #303841;
}

.contact h2 {
  font-family: 'Raleway',serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  font-size: 77px;
  padding-top: 30px;
  
}

.contact p {
  text-align: center;
  font-style: italic;
  font-size: 25px;
}

.contact-links {
  border-bottom: 0.2rem solid #BE3144;
  text-align: center
}

footer {
  background-color: #303841;
  display: flex;
  font-size: 22px;
  text-align: center;
  padding: 33px;
}

 span {
  display: none;
  
}

span:hover {
 color: #BE3144;
visibility: visible;
}

.btn {
      padding: 20px;
      border-radius: 6px;
}

.contact-links {
      margin-top: 4rem;
      padding-bottom: 4rem;
    
}

.contact:hover {
  animation-fill-mode: forwards;
}

footer {
}

footer p {
  margin: 2rem;
}

footer i {
  margin: 2rem;

}

.cab{
      background-color: #303841;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      padding-bottom: 85px;

}
  /*opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.example .content:hover .text {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
  
}

 

